.EmailSend-head{
    height: 40px; 
}

.EmailSend-table {
    width: 100%;
    height: 200px;
    border-collapse:collapse;
}

.EmailSend-table thead tr td{
    background-color:wheat;
}

.EmailSend-table tr td{
    border-bottom:1px solid #dedede;
    text-align: center;
}

.EmailSend-button{
    float: right;
    display: block;
    margin: 10px 10px;
    width: 270px;
	height: 40px;
	border-width: 0px; 
	border-radius: 3px; 
	background: #1E90FF; 
	cursor: pointer; 
	outline: none;
	font-family: Microsoft YaHei;
	color: white; 
	font-size: 17px;
}

.EmailSend-button:hover{
    background: #5599FF;
}